@media print {
    body * {
        background: none    !important;
        visibility: hidden  !important;
        position:   static  !important;
    }
    .area_print, .area_print * {
        visibility: visible !important;
    }
    .area_print {
        position: absolute !important;
        left:     0        !important;
        top:      0        !important;
        width:    auto     !important;
        height:   auto     !important;
        margin:   0        !important;
        padding:  0        !important;
    }
}
.text-vert {
  transform: rotate(-90deg)
}
.text-p0 {
  padding: 0px 0px 0px 0px
}
.text-list {
  font-size: 14px;
  font-weight: normal;
  color: #fff
}
